<div class="sidebar">
    <div class="logo"></div>
    <ul class="menu">
        <li><a href="/" class="active">
                <i class="fas fa-tachometer-alt"></i>
                <span>DashBoard</span>
            </a></li>
        <li><a href="/register">
                <i class="fas fa-user"></i>
                <span>Register Student </span>
            </a></li>
        <li><a href="/StudentDetails">
                <i class="fas fa-tachometer-alt"></i>
                <span>view Student</span>
            </a></li>
        <li><a href="/VisitorLog">
                <i class="fas fa-tachometer-alt"></i>
                <span>Visitor Log</span>
            </a></li>
        <li><a href="/work">
                <i class="fas fa-tachometer-alt"></i>
                <span>Working Employee</span>
            </a></li>
        <li><a href="/Employee_details">
                <i class="fas fa-tachometer-alt"></i>
                <span>ADD Employee</span>
            </a></li>
        <li><a href="/Login">
                <i class="fas fa-sign-out-alt"></i>
                <span>Logout</span>
            </a></li>

    </ul>
</div>